---

---

<header class="flex flex-row justify-between items-center bg-amber-400">
  <a href="/" class="p-3"><span class="font-bold text-4xl">GG</span></a>
  <span class="opacity-60 font-mono">&#38;nbsp;</span>
  <nav class="h-full **:h-full">
    <ul
      class="flex flex-row *:hover:bg-amber-500 *:active:bg-amber-600 **:flex **:items-center"
    >
      <li><a class="px-6 underline" href="/">Home</a></li>
      <li><a class="px-6 underline" href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>

<style></style>
