---

---

<main class="flex-auto">
  <section class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold">Welcome to GG</h1>
    <img
      src="https://rvarccgfnywnxswgscep.supabase.co/storage/v1/object/public/golov.dev//profile-web.jpeg"
      alt=""
    />
    <p class="mt-4 text-lg">This is a simple Astro project.</p>
    <p class="mt-2 text-lg">Explore the projects and learn more about Astro!</p>
    <a
      href="/projects"
      class="mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >View Projects</a
    >
  </section>
</main>

<style></style>
